In [1]:
import csv, time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np
import mplfinance as mpf

In [2]:
data = pd.read_csv('equity_fund_2022_04_04.csv')
data.tail()

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
77,KT-ESG-A,169223940,3.21,3.21,2.14,False,-2.23,-0.90,2.86,0.00,0.0,31/03/2565
78,KTEF,3795508947,1.00,1.00,1.87,False,-0.86,3.00,2.16,4.07,2.0,01/04/2565
79,KT-CLMVT-D,452083067,3.00,3.00,3.21,True,-5.48,-1.44,17.23,9.28,0.0,31/03/2565
80,KTBTHAICG-A,183045631,3.21,3.21,2.14,False,1.21,2.75,10.35,3.35,0.0,31/03/2565
81,KT-BRAIN-A,147926841,3.21,3.21,2.14,False,1.79,2.38,-1.59,-2.81,0.0,31/03/2565

In [3]:
df = data.copy()

In [5]:
df.loc[df['retrun 3 month'] > 4].sort_values('retrun 3 month')

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
67,K-STAR-I(D),1110988448,2.0,2.0,2.01,True,4.15,10.01,0.00,0.00,0.00,01/04/2565
2,SCBDA,399954966,2.0,1.0,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565
76,KT-HiDiv,549430755,5.0,3.0,2.14,True,4.82,8.34,8.17,3.40,5.29,31/03/2565
1,SCBDAP,32054978,2.0,1.0,1.21,False,4.94,8.34,12.27,6.75,0.00,01/04/2565
8,BTK,721122123,1.0,1.0,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
59,K-ICT,261353135,2.0,2.0,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565

In [11]:
df.loc[df['retrun 1 year'] > 10].sort_values(['retrun 3 month', 'retrun 1 year'], ascending=[False, True])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.00,2.00,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
1,SCBDAP,32054978,2.00,1.00,1.21,False,4.94,8.34,12.27,6.75,0.00,01/04/2565
8,BTK,721122123,1.00,1.00,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
2,SCBDA,399954966,2.00,1.00,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565
17,SCBLARGEE,901184,3.21,3.21,2.68,False,2.95,7.71,11.12,0.00,0.00,01/04/2565
18,SCBLARGEA,18502907,3.21,3.21,2.68,False,2.76,7.31,10.29,0.00,0.00,01/04/2565
57,K-MVEQ,88192339,3.00,3.00,3.21,False,1.28,5.56,17.70,-0.29,0.60,01/04/2565
80,KTBTHAICG-A,183045631,3.21,3.21,2.14,False,1.21,2.75,10.35,3.35,0.00,31/03/2565
55,SCBQUALITYE,3704389,3.21,3.21,2.68,False,0.49,9.56,10.28,0.00,0.00,01/04/2565
58,K-MIDSMALL,996751846,2.00,2.00,3.21,False,0.43,8.82,14.91,9.30,5.95,01/04/2565
74,KTMSEQ,367083917,3.00,3.00,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565
75,KT-mai,61738575,3.00,3.00,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565
79,KT-CLMVT-D,452083067,3.00,3.00,3.21,True,-5.48,-1.44,17.23,9.28,0.00,31/03/2565

In [21]:
df.nlargest(n=5, columns=['retrun 3 month', 'retrun 6 month', 'retrun 1 year', 'retrun 3 year', 'retrun 5 year'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.0,2.0,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
8,BTK,721122123,1.0,1.0,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
1,SCBDAP,32054978,2.0,1.0,1.21,False,4.94,8.34,12.27,6.75,0.00,01/04/2565
76,KT-HiDiv,549430755,5.0,3.0,2.14,True,4.82,8.34,8.17,3.40,5.29,31/03/2565
2,SCBDA,399954966,2.0,1.0,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565

In [15]:
# df['retrun 1 year'].nlargest(n=5)
df['retrun 3 month'].nlargest(n=5)

59    12.98
1      4.94
8      4.94
76     4.82
2      4.49
Name: retrun 3 month, dtype: float64

In [17]:
df.nsmallest(n=5, columns=['frontend fee', 'backend fee', 'management fee'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
48,SCBSET50P,47492921,0.0,0.0,0.43,False,3.86,6.62,7.23,-0.01,0.00,01/04/2565
14,TMB50DV,1898432811,0.0,0.0,0.45,True,3.61,6.22,6.08,-0.72,2.56,01/04/2565
12,JB25,4177728615,0.0,0.0,0.81,False,3.63,4.20,0.07,-2.61,1.81,01/04/2565
49,SCBSET50E,91156068,0.0,0.0,0.96,False,3.86,6.62,7.23,0.00,0.00,01/04/2565
50,SCBSET50,6516478921,0.0,0.0,0.96,False,3.73,6.33,6.66,-0.23,2.83,01/04/2565

In [18]:
df.nsmallest(n=5, columns=['management fee'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
63,KAEQ,4733885216,3.00,3.00,0.11,False,3.17,7.89,8.13,7.90,7.86,01/04/2565
46,SCBSETP,509600695,0.00,0.11,0.37,False,2.34,5.72,6.71,2.04,0.00,01/04/2565
48,SCBSET50P,47492921,0.00,0.00,0.43,False,3.86,6.62,7.23,-0.01,0.00,01/04/2565
14,TMB50DV,1898432811,0.00,0.00,0.45,True,3.61,6.22,6.08,-0.72,2.56,01/04/2565
22,SCBDVP,0,0.54,0.54,0.71,False,1.33,4.34,-6.07,-2.42,0.00,01/04/2565

In [20]:
print(f"mean: {df['management fee'].mean()}, min: {df['management fee'].min()}, max: {df['management fee'].max()}")

mean: 1.959756097560974, min: 0.11, max: 3.21

In [99]:
tops_retrun_3m = df.nlargest(n=5, columns=['retrun 3 month']) # .loc[df['dividend yield'] == True]
tops_retrun_3m

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.0,2.0,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
1,SCBDAP,32054978,2.0,1.0,1.21,False,4.94,8.34,12.27,6.75,0.00,01/04/2565
8,BTK,721122123,1.0,1.0,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
76,KT-HiDiv,549430755,5.0,3.0,2.14,True,4.82,8.34,8.17,3.40,5.29,31/03/2565
2,SCBDA,399954966,2.0,1.0,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565

In [100]:
tops_retrun_6m = df.nlargest(n=5, columns=['retrun 6 month'])
tops_retrun_6m

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.0,2.0,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
8,BTK,721122123,1.0,1.0,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
75,KT-mai,61738575,3.0,3.0,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565
62,K-BANKING,442810625,2.0,2.0,3.21,False,2.55,10.43,7.41,-2.59,-1.58,01/04/2565
67,K-STAR-I(D),1110988448,2.0,2.0,2.01,True,4.15,10.01,0.00,0.00,0.00,01/04/2565

In [101]:
tops_retrun_1y = df.nlargest(n=5, columns=['retrun 1 year'])
tops_retrun_1y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.0,2.0,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
74,KTMSEQ,367083917,3.0,3.0,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565
57,K-MVEQ,88192339,3.0,3.0,3.21,False,1.28,5.56,17.70,-0.29,0.60,01/04/2565
79,KT-CLMVT-D,452083067,3.0,3.0,3.21,True,-5.48,-1.44,17.23,9.28,0.00,31/03/2565
75,KT-mai,61738575,3.0,3.0,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565

In [102]:
tops_retrun_3y = df.nlargest(n=5, columns=['retrun 3 year'])
tops_retrun_3y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
74,KTMSEQ,367083917,3.00,3.00,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565
75,KT-mai,61738575,3.00,3.00,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565
59,K-ICT,261353135,2.00,2.00,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
35,SCBMSEP,598873,1.07,1.07,2.57,False,0.07,8.81,5.50,9.59,0.00,01/04/2565
58,K-MIDSMALL,996751846,2.00,2.00,3.21,False,0.43,8.82,14.91,9.30,5.95,01/04/2565

In [103]:
tops_retrun_5y = df.nlargest(n=5, columns=['retrun 5 year'])
tops_retrun_5y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.00,2.00,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
74,KTMSEQ,367083917,3.00,3.00,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565
63,KAEQ,4733885216,3.00,3.00,0.11,False,3.17,7.89,8.13,7.90,7.86,01/04/2565
61,K-ENERGY,259774395,2.00,2.00,3.21,False,3.77,6.25,7.95,3.33,7.18,01/04/2565
21,SCBENERGY,524215504,1.07,1.07,1.66,True,3.81,6.09,7.65,3.14,7.15,01/04/2565

In [56]:
df.loc[(df['retrun 5 year'] > 0) & (df['retrun 3 year'] > 0) & (df['retrun 1 year'] > 0) & \
       (df['retrun 6 month']) > 0 & (df['retrun 3 month'] > 0)].sort_values('retrun 5 year',  ascending=False)

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
59,K-ICT,261353135,2.00,2.00,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
74,KTMSEQ,367083917,3.00,3.00,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565
63,KAEQ,4733885216,3.00,3.00,0.11,False,3.17,7.89,8.13,7.90,7.86,01/04/2565
61,K-ENERGY,259774395,2.00,2.00,3.21,False,3.77,6.25,7.95,3.33,7.18,01/04/2565
21,SCBENERGY,524215504,1.07,1.07,1.66,True,3.81,6.09,7.65,3.14,7.15,01/04/2565
66,K-STEQ,532527620,2.00,1.00,2.01,False,-0.38,5.67,8.31,5.44,6.25,01/04/2565
58,K-MIDSMALL,996751846,2.00,2.00,3.21,False,0.43,8.82,14.91,9.30,5.95,01/04/2565
34,SCBPMO,51336576,2.41,1.07,1.84,True,1.11,6.21,7.63,4.95,5.35,01/04/2565
76,KT-HiDiv,549430755,5.00,3.00,2.14,True,4.82,8.34,8.17,3.40,5.29,31/03/2565
2,SCBDA,399954966,2.00,1.00,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565
68,K-STAR-A(R),2241201312,2.00,2.00,2.01,False,1.08,6.76,7.87,3.42,5.06,01/04/2565
36,SCBMSE,322036147,1.07,1.07,3.10,False,-0.32,7.97,3.88,8.80,4.61,01/04/2565
75,KT-mai,61738575,3.00,3.00,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565
45,SCBTEQ,1791889221,3.21,3.21,2.57,False,0.26,4.03,2.98,2.93,4.34,01/04/2565
54,SCBSE,4128001492,1.07,1.07,2.14,True,-0.97,4.03,4.35,1.69,4.25,01/04/2565
56,K-SELECT,645446281,2.00,1.00,2.01,True,0.59,7.20,4.68,2.23,4.15,01/04/2565
0,SCBDV,8515370205,0.54,0.54,1.25,True,1.31,5.85,5.42,2.00,3.57,01/04/2565
71,KTSF,1833277815,0.00,0.00,1.07,True,3.36,5.06,6.42,2.69,3.46,31/03/2565
64,RKF4,2752682792,2.00,1.00,2.01,True,0.43,5.30,5.14,0.37,2.74,01/04/2565
65,K-VALUE,2752682792,2.00,1.00,2.01,True,0.43,5.30,5.14,0.37,2.74,01/04/2565
51,SCBSET,11202270410,0.00,0.11,0.90,False,2.16,5.35,5.96,1.33,2.73,01/04/2565
8,BTK,721122123,1.00,1.00,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
78,KTEF,3795508947,1.00,1.00,1.87,False,-0.86,3.00,2.16,4.07,2.00,01/04/2565
5,BKA2,816957352,1.00,1.00,1.61,False,3.37,5.55,4.61,1.40,1.37,01/04/2565
4,BKD,4003722613,1.00,1.00,1.61,True,3.53,5.62,4.50,1.34,1.34,01/04/2565
11,BSIRICG,3797726964,0.50,1.00,1.87,True,1.06,3.58,7.49,0.42,1.25,01/04/2565
6,BKA,2928134066,1.00,1.00,1.61,False,3.25,5.35,4.38,1.17,1.15,01/04/2565

In [104]:
# union all top 10 in each return

all_funds = pd.concat([tops_retrun_3m, tops_retrun_6m, tops_retrun_1y, tops_retrun_3y, \
                       tops_retrun_5y], ignore_index = True)
all_funds = all_funds.drop_duplicates()
all_funds

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
0,K-ICT,261353135,2.00,2.00,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565
1,SCBDAP,32054978,2.00,1.00,1.21,False,4.94,8.34,12.27,6.75,0.00,01/04/2565
2,BTK,721122123,1.00,1.00,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565
3,KT-HiDiv,549430755,5.00,3.00,2.14,True,4.82,8.34,8.17,3.40,5.29,31/03/2565
4,SCBDA,399954966,2.00,1.00,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565
7,KT-mai,61738575,3.00,3.00,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565
8,K-BANKING,442810625,2.00,2.00,3.21,False,2.55,10.43,7.41,-2.59,-1.58,01/04/2565
9,K-STAR-I(D),1110988448,2.00,2.00,2.01,True,4.15,10.01,0.00,0.00,0.00,01/04/2565
11,KTMSEQ,367083917,3.00,3.00,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565
12,K-MVEQ,88192339,3.00,3.00,3.21,False,1.28,5.56,17.70,-0.29,0.60,01/04/2565
13,KT-CLMVT-D,452083067,3.00,3.00,3.21,True,-5.48,-1.44,17.23,9.28,0.00,31/03/2565
18,SCBMSEP,598873,1.07,1.07,2.57,False,0.07,8.81,5.50,9.59,0.00,01/04/2565
19,K-MIDSMALL,996751846,2.00,2.00,3.21,False,0.43,8.82,14.91,9.30,5.95,01/04/2565
22,KAEQ,4733885216,3.00,3.00,0.11,False,3.17,7.89,8.13,7.90,7.86,01/04/2565
23,K-ENERGY,259774395,2.00,2.00,3.21,False,3.77,6.25,7.95,3.33,7.18,01/04/2565
24,SCBENERGY,524215504,1.07,1.07,1.66,True,3.81,6.09,7.65,3.14,7.15,01/04/2565

In [91]:
all_funds.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 12, 13, 15, 16, 17, 18, 19,
            22, 23, 28, 36, 37, 43, 45, 47],
           dtype='int64')

In [105]:
# for each fund in each return to get point: 5y = 5, 3y = 4, 1y = 3, 6m = 2, 3m =1
all_funds['point'] = 0

for index, row in all_funds.iterrows():
    
    for i , r in tops_retrun_3m.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 1
            
    for i , r in tops_retrun_6m.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 2
            
    for i , r in tops_retrun_1y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 3
            
    for i , r in tops_retrun_3y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 4
            
    for i , r in tops_retrun_5y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 5
#     print(f"{row['name']}, point: {all_funds.at[index, 'point']}")
            
all_funds.sort_values('point',  ascending=False)

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date,point
0,K-ICT,261353135,2.00,2.00,3.21,False,12.98,32.99,57.65,16.01,9.87,01/04/2565,15
11,KTMSEQ,367083917,3.00,3.00,2.14,False,-0.47,8.98,23.79,25.49,9.58,31/03/2565,12
7,KT-mai,61738575,3.00,3.00,2.14,False,-3.16,11.11,16.66,16.39,4.34,31/03/2565,9
22,KAEQ,4733885216,3.00,3.00,0.11,False,3.17,7.89,8.13,7.90,7.86,01/04/2565,5
23,K-ENERGY,259774395,2.00,2.00,3.21,False,3.77,6.25,7.95,3.33,7.18,01/04/2565,5
24,SCBENERGY,524215504,1.07,1.07,1.66,True,3.81,6.09,7.65,3.14,7.15,01/04/2565,5
18,SCBMSEP,598873,1.07,1.07,2.57,False,0.07,8.81,5.50,9.59,0.00,01/04/2565,4
19,K-MIDSMALL,996751846,2.00,2.00,3.21,False,0.43,8.82,14.91,9.30,5.95,01/04/2565,4
2,BTK,721122123,1.00,1.00,1.61,False,4.94,13.87,14.19,3.49,2.09,01/04/2565,3
12,K-MVEQ,88192339,3.00,3.00,3.21,False,1.28,5.56,17.70,-0.29,0.60,01/04/2565,3
13,KT-CLMVT-D,452083067,3.00,3.00,3.21,True,-5.48,-1.44,17.23,9.28,0.00,31/03/2565,3
8,K-BANKING,442810625,2.00,2.00,3.21,False,2.55,10.43,7.41,-2.59,-1.58,01/04/2565,2
9,K-STAR-I(D),1110988448,2.00,2.00,2.01,True,4.15,10.01,0.00,0.00,0.00,01/04/2565,2
1,SCBDAP,32054978,2.00,1.00,1.21,False,4.94,8.34,12.27,6.75,0.00,01/04/2565,1
3,KT-HiDiv,549430755,5.00,3.00,2.14,True,4.82,8.34,8.17,3.40,5.29,31/03/2565,1
4,SCBDA,399954966,2.00,1.00,1.71,False,4.49,7.43,10.77,6.27,5.28,01/04/2565,1