In [2]:
import csv, time
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np
import mplfinance as mpf

In [4]:
data = pd.read_csv('equity_funds_2022_08_15.csv')
data.tail()

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
77,KT-ESG-A,135540866,3.21,3.21,2.14,False,-0.86,-7.16,-0.68,0.00,0.00,11/08/2565
78,KTEF,3314154338,1.00,1.00,1.87,False,-3.65,-7.68,-2.05,0.90,1.19,11/08/2565
79,KT-CLMVT-D,427667193,3.00,3.00,3.21,True,-2.50,-10.60,-10.72,9.14,5.83,11/08/2565
80,KTBTHAICG-A,177789241,3.21,3.21,2.14,False,-2.30,-8.32,1.62,0.62,0.00,11/08/2565
81,KT-BRAIN-A,134624611,3.21,3.21,2.14,False,-4.38,-2.85,0.62,-4.90,0.00,11/08/2565

In [5]:
df = data.copy()

In [10]:
df.loc[df['retrun 3 month'] > 2].sort_values('retrun 3 month')

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
17,SCBLARGEE,1199965,3.21,3.21,2.68,False,2.07,-1.84,11.86,0.00,0.00,10/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
20,SCBENERGYA,5529093,1.07,1.07,1.66,False,2.98,-0.42,0.00,0.00,0.00,10/08/2565
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565

In [11]:
df.loc[df['retrun 1 year'] > 10].sort_values(['retrun 3 month', 'retrun 1 year'], ascending=[False, True])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
17,SCBLARGEE,1199965,3.21,3.21,2.68,False,2.07,-1.84,11.86,0.00,0.00,10/08/2565
48,SCBSET50P,46700519,0.00,0.00,0.43,False,1.91,-1.90,10.68,-0.65,0.00,10/08/2565
49,SCBSET50E,99446828,0.00,0.00,0.96,False,1.91,-1.90,10.68,-0.51,0.00,10/08/2565
72,KT-SET50-A,3207102756,3.00,3.00,1.07,False,1.90,-2.00,10.49,-0.62,2.19,11/08/2565
18,SCBLARGEA,8936967,3.21,3.21,2.68,False,1.88,-2.20,11.02,0.00,0.00,10/08/2565
14,TMB50DV,1862302043,0.00,0.00,0.45,True,1.82,-2.09,10.04,-1.50,1.83,10/08/2565
15,TMB50,13773913597,0.00,0.00,1.00,False,1.81,-2.11,10.01,-1.34,1.91,10/08/2565
50,SCBSET50,6477840848,0.00,0.00,0.96,False,1.77,-2.16,10.09,-1.04,2.09,10/08/2565
3,BKIND,498773945,0.00,1.00,2.14,False,0.56,-3.18,10.87,-1.91,0.70,10/08/2565
76,KT-HiDiv,568452368,5.00,3.00,2.14,True,-0.11,-4.21,10.65,2.65,3.86,11/08/2565
63,KAEQ,4417353042,3.00,3.00,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565
75,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565
8,BTK,656382249,1.00,1.00,1.61,False,-1.09,-7.30,13.88,-0.70,0.25,10/08/2565
62,K-BANKING,429689806,2.00,2.00,3.21,False,-1.20,-9.27,27.49,-2.08,-1.48,10/08/2565
59,K-ICT,219299048,2.00,2.00,3.21,False,-16.31,-9.79,22.74,3.59,5.38,10/08/2565

In [12]:
df.nlargest(n=5, columns=['retrun 3 month', 'retrun 6 month', 'retrun 1 year', 'retrun 3 year', 'retrun 5 year'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565
20,SCBENERGYA,5529093,1.07,1.07,1.66,False,2.98,-0.42,0.00,0.00,0.00,10/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
17,SCBLARGEE,1199965,3.21,3.21,2.68,False,2.07,-1.84,11.86,0.00,0.00,10/08/2565
49,SCBSET50E,99446828,0.00,0.00,0.96,False,1.91,-1.90,10.68,-0.51,0.00,10/08/2565

In [13]:
# df['retrun 1 year'].nlargest(n=5)
df['retrun 3 month'].nlargest(n=5)

20    2.98
21    2.98
61    2.95
17    2.07
48    1.91
Name: retrun 3 month, dtype: float64

In [14]:
df.nsmallest(n=5, columns=['frontend fee', 'backend fee', 'management fee'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
48,SCBSET50P,46700519,0.0,0.0,0.43,False,1.91,-1.90,10.68,-0.65,0.00,10/08/2565
14,TMB50DV,1862302043,0.0,0.0,0.45,True,1.82,-2.09,10.04,-1.50,1.83,10/08/2565
12,JB25,4006399029,0.0,0.0,0.81,False,1.19,-4.22,7.30,-3.21,0.74,10/08/2565
49,SCBSET50E,99446828,0.0,0.0,0.96,False,1.91,-1.90,10.68,-0.51,0.00,10/08/2565
50,SCBSET50,6477840848,0.0,0.0,0.96,False,1.77,-2.16,10.09,-1.04,2.09,10/08/2565

In [15]:
df.nsmallest(n=5, columns=['management fee'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
63,KAEQ,4417353042,3.00,3.00,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565
46,SCBSETP,410061729,0.00,0.11,0.37,False,0.26,-2.55,7.91,0.68,2.51,10/08/2565
48,SCBSET50P,46700519,0.00,0.00,0.43,False,1.91,-1.90,10.68,-0.65,0.00,10/08/2565
14,TMB50DV,1862302043,0.00,0.00,0.45,True,1.82,-2.09,10.04,-1.50,1.83,10/08/2565
22,SCBDVP,0,0.54,0.54,0.71,False,-3.14,-6.15,2.82,-5.14,-3.80,10/08/2565

In [16]:
print(f"mean: {df['management fee'].mean()}, min: {df['management fee'].min()}, max: {df['management fee'].max()}")

mean: 1.9662195121951205, min: 0.11, max: 3.21

In [17]:
tops_retrun_3m = df.nlargest(n=5, columns=['retrun 3 month']) # .loc[df['dividend yield'] == True]
tops_retrun_3m

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
20,SCBENERGYA,5529093,1.07,1.07,1.66,False,2.98,-0.42,0.00,0.00,0.00,10/08/2565
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
17,SCBLARGEE,1199965,3.21,3.21,2.68,False,2.07,-1.84,11.86,0.00,0.00,10/08/2565
48,SCBSET50P,46700519,0.00,0.00,0.43,False,1.91,-1.90,10.68,-0.65,0.00,10/08/2565

In [18]:
tops_retrun_6m = df.nlargest(n=5, columns=['retrun 6 month'])
tops_retrun_6m

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
75,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565
37,SCBMOMENTE,4567638,3.21,3.21,2.68,False,1.36,0.33,-0.84,0.00,0.00,10/08/2565
10,B-SMEQ,246236276,1.00,1.00,2.14,False,-5.94,0.00,0.00,0.00,0.00,10/08/2565
38,SCBMOMENTA,15667028,3.21,3.21,2.68,False,1.17,-0.04,-1.58,0.00,0.00,10/08/2565
20,SCBENERGYA,5529093,1.07,1.07,1.66,False,2.98,-0.42,0.00,0.00,0.00,10/08/2565

In [19]:
tops_retrun_1y = df.nlargest(n=5, columns=['retrun 1 year'])
tops_retrun_1y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
62,K-BANKING,429689806,2.00,2.00,3.21,False,-1.20,-9.27,27.49,-2.08,-1.48,10/08/2565
59,K-ICT,219299048,2.00,2.00,3.21,False,-16.31,-9.79,22.74,3.59,5.38,10/08/2565
75,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565

In [20]:
tops_retrun_3y = df.nlargest(n=5, columns=['retrun 3 year'])
tops_retrun_3y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
74,KTMSEQ,332618364,3.0,3.0,2.14,False,-3.95,-4.50,6.90,20.17,9.24,11/08/2565
75,KT-mai,72637971,3.0,3.0,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565
79,KT-CLMVT-D,427667193,3.0,3.0,3.21,True,-2.50,-10.60,-10.72,9.14,5.83,11/08/2565
58,K-MIDSMALL,872325807,2.0,2.0,3.21,False,-4.72,-5.27,1.94,6.38,3.89,10/08/2565
63,KAEQ,4417353042,3.0,3.0,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565

In [21]:
tops_retrun_5y = df.nlargest(n=5, columns=['retrun 5 year'])
tops_retrun_5y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
74,KTMSEQ,332618364,3.00,3.00,2.14,False,-3.95,-4.50,6.90,20.17,9.24,11/08/2565
63,KAEQ,4417353042,3.00,3.00,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565
75,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565

In [31]:
df.loc[(df['retrun 5 year'] > 0) & (df['retrun 3 year'] > 0) & (df['retrun 1 year'] > 0) & \
       (df['retrun 6 month']) > 0 & (df['retrun 3 month'] > 0)].sort_values('retrun 5 year',  ascending=False)

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
74,KTMSEQ,332618364,3.00,3.00,2.14,False,-3.95,-4.50,6.90,20.17,9.24,11/08/2565
63,KAEQ,4417353042,3.00,3.00,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565
61,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
21,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565
75,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565
59,K-ICT,219299048,2.00,2.00,3.21,False,-16.31,-9.79,22.74,3.59,5.38,10/08/2565
66,K-STEQ,489421650,2.00,1.00,2.01,False,-0.57,-7.00,8.81,3.00,5.08,10/08/2565
1,SCBDAP,30211562,2.00,1.00,1.21,False,-2.00,-4.22,7.91,3.57,3.92,10/08/2565
58,K-MIDSMALL,872325807,2.00,2.00,3.21,False,-4.72,-5.27,1.94,6.38,3.89,10/08/2565
76,KT-HiDiv,568452368,5.00,3.00,2.14,True,-0.11,-4.21,10.65,2.65,3.86,11/08/2565
68,K-STAR-A(R),2080150478,2.00,2.00,2.01,False,-0.88,-4.98,8.83,1.15,3.70,10/08/2565
34,SCBPMO,51662300,2.41,1.07,1.84,True,-2.02,-5.22,4.09,1.54,3.64,10/08/2565
2,SCBDA,396825885,2.00,1.00,1.71,False,-2.42,-5.02,6.08,2.90,3.52,10/08/2565
35,SCBMSEP,35661,1.07,1.07,2.57,False,-5.72,-5.21,1.34,4.27,3.31,10/08/2565
45,SCBTEQ,1664080296,3.21,3.21,2.57,False,-0.95,-4.45,4.52,0.80,2.95,10/08/2565
46,SCBSETP,410061729,0.00,0.11,0.37,False,0.26,-2.55,7.91,0.68,2.51,10/08/2565
71,KTSF,1919494413,0.00,0.00,1.07,True,-2.21,-5.87,5.75,0.70,2.48,11/08/2565
5,BKA2,783224386,1.00,1.00,1.61,False,0.16,-2.82,9.16,0.22,1.30,10/08/2565
4,BKD,3887981188,1.00,1.00,1.61,True,0.14,-2.63,9.09,0.13,1.23,10/08/2565
11,BSIRICG,3579810096,0.50,1.00,1.87,True,-0.29,-4.32,9.38,0.03,1.16,10/08/2565
6,BKA,2823450102,1.00,1.00,1.61,False,0.13,-2.82,8.80,0.08,1.09,10/08/2565

In [32]:
# union all top 10 in each return

all_funds = pd.concat([tops_retrun_3m, tops_retrun_6m, tops_retrun_1y, tops_retrun_3y, \
                       tops_retrun_5y], ignore_index = True)
all_funds = all_funds.drop_duplicates()
all_funds

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
0,SCBENERGYA,5529093,1.07,1.07,1.66,False,2.98,-0.42,0.00,0.00,0.00,10/08/2565
1,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565
2,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565
3,SCBLARGEE,1199965,3.21,3.21,2.68,False,2.07,-1.84,11.86,0.00,0.00,10/08/2565
4,SCBSET50P,46700519,0.00,0.00,0.43,False,1.91,-1.90,10.68,-0.65,0.00,10/08/2565
5,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565
6,SCBMOMENTE,4567638,3.21,3.21,2.68,False,1.36,0.33,-0.84,0.00,0.00,10/08/2565
7,B-SMEQ,246236276,1.00,1.00,2.14,False,-5.94,0.00,0.00,0.00,0.00,10/08/2565
8,SCBMOMENTA,15667028,3.21,3.21,2.68,False,1.17,-0.04,-1.58,0.00,0.00,10/08/2565
10,K-BANKING,429689806,2.00,2.00,3.21,False,-1.20,-9.27,27.49,-2.08,-1.48,10/08/2565
11,K-ICT,219299048,2.00,2.00,3.21,False,-16.31,-9.79,22.74,3.59,5.38,10/08/2565
15,KTMSEQ,332618364,3.00,3.00,2.14,False,-3.95,-4.50,6.90,20.17,9.24,11/08/2565
17,KT-CLMVT-D,427667193,3.00,3.00,3.21,True,-2.50,-10.60,-10.72,9.14,5.83,11/08/2565
18,K-MIDSMALL,872325807,2.00,2.00,3.21,False,-4.72,-5.27,1.94,6.38,3.89,10/08/2565
19,KAEQ,4417353042,3.00,3.00,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565

In [33]:
all_funds.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 15, 17, 18, 19], dtype='int64')

In [34]:
# for each fund in each return to get point: 5y = 5, 3y = 4, 1y = 3, 6m = 2, 3m =1
all_funds['point'] = 0

for index, row in all_funds.iterrows():
    
    for i , r in tops_retrun_3m.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 1
            
    for i , r in tops_retrun_6m.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 2
            
    for i , r in tops_retrun_1y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 3
            
    for i , r in tops_retrun_3y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 4
            
    for i , r in tops_retrun_5y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 5
#     print(f"{row['name']}, point: {all_funds.at[index, 'point']}")
            
all_funds.sort_values('point',  ascending=False)

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date,point
5,KT-mai,72637971,3.00,3.00,2.14,False,-0.89,7.01,18.23,17.41,6.21,11/08/2565,14
1,SCBENERGY,470503471,1.07,1.07,1.66,True,2.98,-0.42,14.60,3.31,6.62,10/08/2565,9
2,K-ENERGY,248174584,2.00,2.00,3.21,False,2.95,-0.52,14.69,3.54,6.65,10/08/2565,9
15,KTMSEQ,332618364,3.00,3.00,2.14,False,-3.95,-4.50,6.90,20.17,9.24,11/08/2565,9
19,KAEQ,4417353042,3.00,3.00,0.11,False,-0.15,-2.07,11.88,6.34,6.73,10/08/2565,9
17,KT-CLMVT-D,427667193,3.00,3.00,3.21,True,-2.50,-10.60,-10.72,9.14,5.83,11/08/2565,4
18,K-MIDSMALL,872325807,2.00,2.00,3.21,False,-4.72,-5.27,1.94,6.38,3.89,10/08/2565,4
0,SCBENERGYA,5529093,1.07,1.07,1.66,False,2.98,-0.42,0.00,0.00,0.00,10/08/2565,3
10,K-BANKING,429689806,2.00,2.00,3.21,False,-1.20,-9.27,27.49,-2.08,-1.48,10/08/2565,3
11,K-ICT,219299048,2.00,2.00,3.21,False,-16.31,-9.79,22.74,3.59,5.38,10/08/2565,3
6,SCBMOMENTE,4567638,3.21,3.21,2.68,False,1.36,0.33,-0.84,0.00,0.00,10/08/2565,2
7,B-SMEQ,246236276,1.00,1.00,2.14,False,-5.94,0.00,0.00,0.00,0.00,10/08/2565,2
8,SCBMOMENTA,15667028,3.21,3.21,2.68,False,1.17,-0.04,-1.58,0.00,0.00,10/08/2565,2
3,SCBLARGEE,1199965,3.21,3.21,2.68,False,2.07,-1.84,11.86,0.00,0.00,10/08/2565,1
4,SCBSET50P,46700519,0.00,0.00,0.43,False,1.91,-1.90,10.68,-0.65,0.00,10/08/2565,1