In [37]:
from bs4 import BeautifulSoup
import requests
import csv, time, json
from datetime import datetime

import pandas as pd
import pandas_ta as ta
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('gold_funds_2022_08_15.csv')
data.tail()

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
5,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565
6,SCBGOLDH,2280856323,0.54,0.54,1.50,False,-4.24,-2.86,2.11,5.32,5.39,11/08/2565
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565

In [3]:
df = data.copy()

In [5]:
df.loc[df['retrun 3 month'] > 0].sort_values('retrun 3 month')

Empty DataFrame
Columns: [name, size, frontend fee, backend fee, management fee, dividend yield, retrun 3 month, retrun 6 month, retrun 1 year, retrun 3 year, retrun 5 year, updated date]
Index: []

In [7]:
df.loc[df['retrun 6 month'] > 0].sort_values('retrun 6 month')

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565

In [6]:
df.loc[df['retrun 1 year'] > 0].sort_values(['retrun 3 month', 'retrun 1 year'], ascending=[False, True])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
0,KT-GOLD,836830803,0.50,0.50,1.07,False,-3.91,-1.66,1.98,4.95,4.78,11/08/2565
5,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565
2,K-GOLD-A(A),1303283986,0.00,0.00,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565
1,K-GOLD-A(D),6433165790,0.00,0.00,1.61,True,-4.16,-4.95,0.25,4.83,2.88,11/08/2565
6,SCBGOLDH,2280856323,0.54,0.54,1.50,False,-4.24,-2.86,2.11,5.32,5.39,11/08/2565
3,TMBGOLDS,1350297059,0.00,0.00,1.61,False,-4.28,-2.85,1.67,4.11,4.39,10/08/2565

In [9]:
df.loc[df['retrun 3 year'] > 0].sort_values(['retrun 1 year', 'retrun 3 year'], ascending=[False, True])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
5,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565
6,SCBGOLDH,2280856323,0.54,0.54,1.50,False,-4.24,-2.86,2.11,5.32,5.39,11/08/2565
0,KT-GOLD,836830803,0.50,0.50,1.07,False,-3.91,-1.66,1.98,4.95,4.78,11/08/2565
3,TMBGOLDS,1350297059,0.00,0.00,1.61,False,-4.28,-2.85,1.67,4.11,4.39,10/08/2565
1,K-GOLD-A(D),6433165790,0.00,0.00,1.61,True,-4.16,-4.95,0.25,4.83,2.88,11/08/2565

In [8]:
df.nsmallest(n=5, columns=['frontend fee', 'backend fee', 'management fee'])

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
4,TMBGOLD,639166143,0.0,0.0,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
1,K-GOLD-A(D),6433165790,0.0,0.0,1.61,True,-4.16,-4.95,0.25,4.83,2.88,11/08/2565
2,K-GOLD-A(A),1303283986,0.0,0.0,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565
3,TMBGOLDS,1350297059,0.0,0.0,1.61,False,-4.28,-2.85,1.67,4.11,4.39,10/08/2565
8,BGOLD,1036484960,0.0,0.5,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565

In [10]:
print(f"mean: {df['management fee'].mean()}, min: {df['management fee'].min()}, max: {df['management fee'].max()}")

mean: 1.4411111111111112, min: 1.07, max: 1.61

In [11]:
tops_retrun_3m = df.nlargest(n=5, columns=['retrun 3 month']) # .loc[df['dividend yield'] == True]
tops_retrun_3m

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
0,KT-GOLD,836830803,0.50,0.50,1.07,False,-3.91,-1.66,1.98,4.95,4.78,11/08/2565
2,K-GOLD-A(A),1303283986,0.00,0.00,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565

In [12]:
tops_retrun_6m = df.nlargest(n=5, columns=['retrun 6 month'])
tops_retrun_6m

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
0,KT-GOLD,836830803,0.50,0.50,1.07,False,-3.91,-1.66,1.98,4.95,4.78,11/08/2565
2,K-GOLD-A(A),1303283986,0.00,0.00,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565

In [13]:
tops_retrun_1y = df.nlargest(n=5, columns=['retrun 1 year'])
tops_retrun_1y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
2,K-GOLD-A(A),1303283986,0.00,0.00,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565
5,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565

In [14]:
tops_retrun_3y = df.nlargest(n=5, columns=['retrun 3 year'])
tops_retrun_3y

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
7,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
8,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
4,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
5,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565
6,SCBGOLDH,2280856323,0.54,0.54,1.50,False,-4.24,-2.86,2.11,5.32,5.39,11/08/2565

In [15]:
# union all top 10 in each return

all_funds = pd.concat([tops_retrun_3m, tops_retrun_6m, tops_retrun_1y, tops_retrun_3y], ignore_index = True)
all_funds = all_funds.drop_duplicates()
all_funds

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date
0,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565
1,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565
2,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565
3,KT-GOLD,836830803,0.50,0.50,1.07,False,-3.91,-1.66,1.98,4.95,4.78,11/08/2565
4,K-GOLD-A(A),1303283986,0.00,0.00,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565
14,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565
19,SCBGOLDH,2280856323,0.54,0.54,1.50,False,-4.24,-2.86,2.11,5.32,5.39,11/08/2565

In [16]:
# for each fund in each return to get point: 5y = 5, 3y = 4, 1y = 3, 6m = 2, 3m =1
all_funds['point'] = 0

for index, row in all_funds.iterrows():
    
    for i , r in tops_retrun_3m.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 1
            
    for i , r in tops_retrun_6m.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 2
            
    for i , r in tops_retrun_1y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 3
            
    for i , r in tops_retrun_3y.iterrows():
        if row['name'] == r['name']:
            all_funds.at[index, 'point'] = all_funds.at[index, 'point'] + 4
            
#     print(f"{row['name']}, point: {all_funds.at[index, 'point']}")
            
all_funds.sort_values('point',  ascending=False)

,name,size,frontend fee,backend fee,management fee,dividend yield,retrun 3 month,retrun 6 month,retrun 1 year,retrun 3 year,retrun 5 year,updated date,point
0,BGOLD,1036484960,0.00,0.50,1.07,False,-1.15,5.87,8.68,10.23,7.18,11/08/2565,10
1,SCBGOLD,961516216,0.54,0.54,1.50,False,-1.23,6.24,9.31,10.79,7.61,11/08/2565,10
2,TMBGOLD,639166143,0.00,0.00,1.50,False,-1.39,4.58,7.93,9.63,6.72,09/08/2565,10
14,SCBGOLDHE,28219491,0.54,0.54,1.50,False,-4.13,-2.65,2.56,6.03,0.00,11/08/2565,7
4,K-GOLD-A(A),1303283986,0.00,0.00,1.61,False,-4.13,-2.34,3.05,0.00,0.00,11/08/2565,6
19,SCBGOLDH,2280856323,0.54,0.54,1.50,False,-4.24,-2.86,2.11,5.32,5.39,11/08/2565,4
3,KT-GOLD,836830803,0.50,0.50,1.07,False,-3.91,-1.66,1.98,4.95,4.78,11/08/2565,3

### Checklist

- compare return with SPDR Gold Trust

In [22]:
start = 172.21
end = 165.99
(end - start)*100 / start

-3.6118692294291845

16/08/2022
- 1-Month 3.23%
- 3-Month -3.45%
- 1-Year 3.74%
- 3-Year 5.80%

Prove if return could be changed every day.
https://finance.yahoo.com/quote/GLD/performance?p=GLD