In [1]:
import os, csv
from dotenv import load_dotenv
import pandas as pd
import time

from datetime import datetime, timedelta
import yfinance as yf
yf.pdr_override()

import calendar
import pandas as pd
import pandas_ta as ta
import numpy as np

from pandas_datareader import data as pdr
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.foreignexchange import ForeignExchange
load_dotenv()

True

In [2]:
API_KEYS = os.getenv('ALPHA_KEYS')
cc = ForeignExchange(key=API_KEYS)
ts = TimeSeries(key=API_KEYS, output_format='pandas')

In [3]:
bars, _ = ts.get_intraday(symbol="EURUSD",interval="15min", outputsize='compact')
bars

                     1. open  2. high  3. low  4. close  5. volume
date
2022-07-22 02:45:00   1.0195   1.0195  1.0192    1.0194        0.0
2022-07-22 02:30:00   1.0188   1.0195  1.0182    1.0195        0.0
2022-07-22 02:15:00   1.0185   1.0193  1.0181    1.0187        0.0
2022-07-22 02:00:00   1.0190   1.0194  1.0183    1.0185        0.0
2022-07-22 01:45:00   1.0185   1.0191  1.0183    1.0190        0.0
...                      ...      ...     ...       ...        ...
2022-07-21 03:00:00   1.0217   1.0218  1.0200    1.0205        0.0
2022-07-21 02:45:00   1.0215   1.0221  1.0206    1.0217        0.0
2022-07-21 02:30:00   1.0229   1.0229  1.0213    1.0216        0.0
2022-07-21 02:15:00   1.0223   1.0231  1.0217    1.0229        0.0
2022-07-21 02:00:00   1.0224   1.0227  1.0219    1.0223        0.0

[100 rows x 5 columns]

In [4]:
EURUSD = pdr.get_data_yahoo("EURUSD=x", start='2022-07-21', end='2022-07-22', interval='15m')
EURUSD

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-07-20 18:00:00+01:00,1.019160,1.019160,1.017501,1.018123,1.018123,0
2022-07-20 18:15:00+01:00,1.017915,1.017915,1.016984,1.016984,1.016984,0
2022-07-20 18:30:00+01:00,1.016880,1.017398,1.016260,1.016467,1.016467,0
2022-07-20 18:45:00+01:00,1.016570,1.016777,1.015847,1.015950,1.015950,0
2022-07-20 19:00:00+01:00,1.016260,1.016984,1.016260,1.016880,1.016880,0
...,...,...,...,...,...,...
2022-07-21 16:45:00+01:00,1.020825,1.020825,1.020304,1.020304,1.020304,0
2022-07-21 17:00:00+01:00,1.019784,1.019888,1.018641,1.018745,1.018745,0
2022-07-21 17:15:00+01:00,1.018952,1.019368,1.018434,1.019264,1.019264,0
2022-07-21 17:30:00+01:00,1.019264,1.019264,1.018019,1.018019,1.018019,0
2022-07-21 17:45:00+01:00,1.017812,1.018330,1.017812,1.018330,1.018330,0

In [5]:
tickers = ['EURUSD=x']
for ticker in tickers:
    ticker_yahoo = yf.Ticker(ticker)
    data = ticker_yahoo.history(period='2d', interval='15m')
    last_quote = data['Close'].iloc[-1]
    print(data)

                               Open      High       Low     Close  Volume  \
Datetime
2022-07-21 00:00:00+01:00  1.018434  1.018745  1.018330  1.018537       0
2022-07-21 00:15:00+01:00  1.018537  1.018537  1.018019  1.018123       0
2022-07-21 00:30:00+01:00  1.018123  1.018330  1.018019  1.018226       0
2022-07-21 00:45:00+01:00  1.018123  1.018641  1.018123  1.018330       0
2022-07-21 01:00:00+01:00  1.018226  1.018745  1.018123  1.018745       0
...                             ...       ...       ...       ...     ...
2022-07-22 06:45:00+01:00  1.019160  1.019680  1.018849  1.018849       0
2022-07-22 07:00:00+01:00  1.019056  1.019472  1.018745  1.018952       0
2022-07-22 07:15:00+01:00  1.018952  1.019784  1.018745  1.019784       0
2022-07-22 07:30:00+01:00  1.019576  1.019680  1.019472  1.019472       0
2022-07-22 07:34:46+01:00  1.019576  1.019576  1.019576  1.019576       0

                           Dividends  Stock Splits
Datetime
2022-07-21 00:00:00+01:00          0             0
2022-07-21 00:15:00+01:00          0             0
2022-07-21 00:30:00+01:00          0             0
2022-07-21 00:45:00+01:00          0             0
2022-07-21 01:00:00+01:00          0             0
...                              ...           ...
2022-07-22 06:45:00+01:00          0             0
2022-07-22 07:00:00+01:00          0             0
2022-07-22 07:15:00+01:00          0             0
2022-07-22 07:30:00+01:00          0             0
2022-07-22 07:34:46+01:00          0             0

[128 rows x 7 columns]

In [9]:
data.tail(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-07-22 05:30:00+01:00,1.019056,1.019368,1.018745,1.018745,0,0,0
2022-07-22 05:45:00+01:00,1.018745,1.018952,1.018330,1.018434,0,0,0
2022-07-22 06:00:00+01:00,1.018434,1.018952,1.018434,1.018641,0,0,0
2022-07-22 06:15:00+01:00,1.018434,1.018952,1.018434,1.018952,0,0,0
2022-07-22 06:30:00+01:00,1.018952,1.019680,1.018849,1.019160,0,0,0
2022-07-22 06:45:00+01:00,1.019160,1.019680,1.018849,1.018849,0,0,0
2022-07-22 07:00:00+01:00,1.019056,1.019472,1.018745,1.018952,0,0,0
2022-07-22 07:15:00+01:00,1.018952,1.019784,1.018745,1.019784,0,0,0
2022-07-22 07:30:00+01:00,1.019576,1.019680,1.019472,1.019472,0,0,0
2022-07-22 07:34:46+01:00,1.019576,1.019576,1.019576,1.019576,0,0,0

In [49]:
EURUSD[30:50]

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-07-05 01:30:00+01:00,1.043297,1.043515,1.043188,1.043406,1.043406,0
2022-07-05 01:45:00+01:00,1.043515,1.043950,1.043515,1.043732,1.043732,0
2022-07-05 02:00:00+01:00,1.043732,1.044059,1.043188,1.043188,1.043188,0
2022-07-05 02:15:00+01:00,1.043297,1.043515,1.042644,1.043079,1.043079,0
2022-07-05 02:30:00+01:00,1.043079,1.044277,1.043079,1.043841,1.043841,0
2022-07-05 02:45:00+01:00,1.043950,1.044277,1.043623,1.043950,1.043950,0
2022-07-05 03:00:00+01:00,1.043732,1.043841,1.043515,1.043515,1.043515,0
2022-07-05 03:15:00+01:00,1.043406,1.043732,1.043297,1.043297,1.043297,0
2022-07-05 03:30:00+01:00,1.043297,1.043841,1.043188,1.043841,1.043841,0
2022-07-05 03:45:00+01:00,1.043515,1.043515,1.043079,1.043297,1.043297,0
2022-07-05 04:00:00+01:00,1.043188,1.043515,1.043188,1.043297,1.043297,0
2022-07-05 04:15:00+01:00,1.043406,1.043515,1.043188,1.043297,1.043297,0
2022-07-05 04:30:00+01:00,1.043406,1.043950,1.043406,1.043732,1.043732,0
2022-07-05 04:45:00+01:00,1.043623,1.044168,1.043515,1.043732,1.043732,0
2022-07-05 05:00:00+01:00,1.043623,1.043841,1.043406,1.043841,1.043841,0
2022-07-05 05:15:00+01:00,1.043841,1.043950,1.043732,1.043950,1.043950,0
2022-07-05 05:30:00+01:00,1.043950,1.044059,1.043406,1.043950,1.043950,0
2022-07-05 05:45:00+01:00,1.043950,1.044168,1.043732,1.044059,1.044059,0
2022-07-05 06:00:00+01:00,1.044059,1.044605,1.044059,1.044605,1.044605,0
2022-07-05 06:15:00+01:00,1.044495,1.044932,1.044495,1.044605,1.044605,0